<div class="landingpage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 side-header">
        <h2 class="font72"><i class="fa fa-inr"></i> Spendit</h2><br/>
        <h4>An simple and powerful app to track your expense.</h4>
        <h4><%= link_to 'Login', new_user_session_path %></h4>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid strip">
  <div class="container">
    <h2>Welcome to our home</h2>
    <hr>
  </div>

  <div class="container">
    <p class="leads">Household needs</p>
    <table class="table">
      <thead>
        <tr><th>People to contact</th> </tr>
      </thead>
      <tbody>
        <tr><td>Cook Number</td> <td>+91 9916145088</td></tr>
        <tr><td>Water guy</td> <td>+91 9880626402</td></tr>
        <tr><td>Broadbank complaint</td> <td>+91 8045118888</td></tr>
      </tbody>
    </table>
    <br>
    <br>
    <%= link_to raw('<h5>Spendit App</h5>'), new_user_session_path %>
    <br>
    Friends:
    <ul>
      <li>Prasanna Vijayan
      <li>Prasanna VJ
      <li>Srinivasan
      <li>Saravanan
      <li>Arjun
    </ul>
  </div>

  <div class="stripe"></div>
</div> -->
