//
// Global
//--------------------------------

// basic Mixin

@mixin padding-horizontal($value) {
  padding-top: $value;
  padding-bottom: $value;
}


// text changes
.text {
  &-white {
    color: $base-white;
  }
}
