//
// Home
//------------------------------

.main {
  &-logo {
    width: 200px;
  }
}

.expense-logo {
  width: 150px;
  display: inline-block;
}

.herounit {
  display: table;
  text-align: center;
  min-height:600px;
  &-content {
    display: table-cell;
    vertical-align: middle;
  }
  &-image {
    display: initial;
  }
}

.feature {
  background-color: $budget-color;
  &-budget {
    @include padding-horizontal(40px);
  }
}


.about {
  background-color: $about-color;
  @extend .text-white;
  &-container {
    @include padding-horizontal(40px);
  }
}
