// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  font-family: "Lato";
}

// .side-menu {
//   text-align: center;
// }

.box-pad {
  padding-top: 10px;
  padding-bottom: 10px;
}
.spent-remaining {
  text-align: center;
  .spent {
    @extend .col-xs-12;
    @extend .box-pad;
    border:thin solid #F3F3F3;
    border-left:10px solid #db3236;
    font-size: 36px;
  }
  .remaining {
    @extend .col-xs-12;
    @extend .box-pad;
    border:thin solid #F3F3F3;
    border-left:10px solid #3cba54;
    font-size: 36px;
  }
}

.expense-pane {
  border-right: 1px solid #F3F3F3;
  border-left: 1px solid #F3F3F3;
  min-height: 500px;
}

.profile{
  &-icon {
    width: 50px;
  }
  &-name {
    padding-top: 8px;
  }
}
