body {
  margin-bottom: 10px;
}
.stripe {
    background-color: #3FC380;
    bottom: 0;
    position: absolute;
    width:100%;
    left:0;
    height: 10px;
}

.top-stripe {
  background-color: #3FC380;
  top: 0;
  position: absolute;
  width:100%;
  left:0;
  height: 15px;
}

.top-space {
  padding-top: 20px;
}
